* {
  font-family: 'Comfortaa', cursive;
  font-size: 1.5vw;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 196, 250)), to(rgb(252, 255, 196)));
  background: linear-gradient(rgb(255, 196, 250), rgb(252, 255, 196));
  height: 89.5vh;
}

section#counter_and_buttons {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

p {
  font-size: 8vw;
  color: white;
  margin: 0.5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p#congrats {
  color: rgb(255, 104, 247);
}

button {
  margin: 1em auto;
  padding: 2em;
  border-radius: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button#reset {
  margin-top: 4vh;
  padding: 1em;
}

@media screen and (max-width: 550px) {
  * {
    font-size: 4vw;
  }

  p {
    font-size: 16vw;
  }
}

@media screen and (min-width: 551px) and (max-width: 725px){
  *  {
    font-size: 2vw;
  }

  p {
    font-size: 12vw;
  }
}

@media screen and (min-width: 1050px) {
  * {
    font-size: 16px;
  }

  p {
    font-size: 84px;
  }
}
